# Insert Passengers dumps into MYSQL DB

In [ ]:
import mysql.connector as connection
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [ ]:
# Create DB

In [ ]:
try:
    mydb = connection.connect(host="localhost", user="root", passwd="Testboy@123",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query_DB = "Create database basketball;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query_DB)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
##Create Table

In [ ]:
try:    
    mydb = connection.connect(host="localhost", database = 'basketball',user="root", passwd="Testboy@123",use_pure=True)
    query_TB = "CREATE TABLE Passenger_Details (PassengerId INT(64) PRIMARY KEY,Survived INT(64), Pclass INT(64),Name Varchar(64)," \
            "Sex VARCHAR(10), Age INT(100), SibSp Varchar(64), Parch Varchar(64), Ticket Varchar(64), Fare Varchar(64), Cabin Varchar(64), Embarked Varchar(64))"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query_TB)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
##Create DataFrame

In [ ]:
df=pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",sep='\t',index_col=0)

In [ ]:
# create sqlalchemy engine

In [ ]:

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Testboy@123",
                               db="basketball"))

In [ ]:
try:
    df.to_sql('Passenger_Details', con = engine, if_exists = 'append', chunksize = 1000)
except Exception as e:
    mydb.close()
    print(str(e))

# Insert Passengers dumps into MongoDB Atlas

In [48]:
import pymongo

In [49]:
import ssl

client_ = f"mongodb+srv://mongo:mongo123@cluster0.3nflt.mongodb.net/Passenger_Details?retryWrites=true&w=majority"

df=pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv",sep='\t',index_col=0)

In [50]:
DB_NAME = "Passenger_Details"

# Establish a connection with mongoDB
client = pymongo.MongoClient(client_)

# Create a DB
dataBase = client[DB_NAME]

COLLECTION_NAME = "Details"
collection = dataBase[COLLECTION_NAME]

In [51]:
collection.drop()

In [ ]:
df_dict=df.to_dict("records")

collection.insert_many(df_dict)